.mobile .ant-row.ant-form-item{
  /*//margin-top:6.8%;*/
}
.mobile .ant-form-item:not(.ant-form-item-with-help){
  margin-bottom: 24px;
}
.error-msg{
  text-align:left;
  color:red;
  margin-top:5px;
}

@media screen and (max-width: 360px) {
  .mobile .register .ant-form-item{
    margin-bottom: 12px;
  }
}


