
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
@media screen and (min-width: 1080px){
  html{
    font-size:625% !important;
  }
}
html{
  font-size:625%;
}
body{
  font-size:14px;
}
.ant-modal-wrap{
  overflow: hidden;
}
.ant-modal{
  top:20px;
  padding-bottom:0;
  max-height:95%;
  overflow-y:auto;
}
.ant-menu-horizontal{
  padding-left:0.54rem;
}
.sub-container{
  text-align:left;
}
.box-body .ant-tabs-bar{
  border:none;
}
.login-box .ant-tabs-nav-wrap{
  margin-bottom:0.4rem ;
}
.login-box .ant-input-affix-wrapper{
  height:40px;
}
.register .ant-form-item-control-wrapper{
  text-align:left;
}
.main-container  .ant-tabs-bar.ant-tabs-top-bar{
  background-color:#fff;
  text-align: left;
  padding-left:70px;
}
.main-container{
  height:100%;
}
.ant-layout{
  height:100%;
}
.ant-layout-content>div{
  background-color:#F2F3F5;
}
.top-header{
  border-bottom: 1px solid #eee;
}
.ant-table-pagination.ant-pagination{
  float:none;
  text-align: center;
}
.ant-form-item{
  /*margin-bottom: 17px;*/
}
.buildingTable .ant-table-placeholder{
display:none
}
.login-box .ant-tabs-bar{
  margin-bottom: 0;
}
.ant-modal-body .content-box {
  height:232px;
}
/*.ant-modal-body{*/
  /*padding:0;*/
/*}*/
 .ant-table-body td>div:not(.bom-item-body div){
  max-width:250px;
  overflow-x: hidden;
 white-space: nowrap;
  text-overflow: ellipsis;
}
.sub-container .box-container{
  flex:auto;
}
a .iconfont:not(.icondaqwwwqziyuan){
  color: #999;
}
a .iconbianji:hover,a .iconbaocun:hover,a .iconxiangqing:hover{
  color:dodgerblue;
}
a .iconshanchu:hover, a i.iconjianqu:hover{
  color:red;
}
.ant-modal-mask .ant-input-number{
  width:138px;
}
p.has-error{
  line-height:1;
  height:16px;
  margin-top:3px;
  margin-bottom: 0;
  color:red;
}
.ant-form-explain{
  text-align: left;
}
  .ant-select-dropdown-menu{
  /*max-height:98px;*/
}
 .login-box .ant-form-item-control{
   line-height:1;
 }
 .ant-table-thead > tr > th{
   font-family: PingFangSC-Medium;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   color: rgba(0, 0, 0, 0.85);
 }
 .ant-modal-confirm-btns .ant-btn-primary{
   border:red;
   background-color:red;
 }
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon{
  color: red;
}
.ant-modal-header,.ant-modal-footer{
  border:none;
}
.bom-item-body .ant-table-wrapper{
  height:100%;
}
.bom-item-body .ant-spin-nested-loading{
  height:100%;
}
.bom-item-body .ant-spin-container{
  height:100%;
  display:flex;
  flex-direction: column;
}
.ant-spin-container .ant-table-default{
  flex:auto;
}
.box .box-container{
  flex-direction: row;
}
 .box-container{
  display:flex;
  flex-direction: column;
}
.box-container .ant-table-wrapper{
  flex:auto;
  display: flex;
  flex-direction: column;
}
.box-container .ant-spin-container{
  flex:auto;
  display:flex;
  flex-direction:column;
}
.box-container .ant-spin-nested-loading{
  flex:auto;
  display:flex;
  flex-direction:column;
}
.ant-table-thead > tr > th{
  font-weight:bold;
}
.ant-table-tbody > tr > td{
  white-space: nowrap;
  max-width:140px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ant-table-tbody > tr > td>div{
  white-space: nowrap;
  max-width:154px;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
}
.top-name{
  margin-left: 10px;
  font-weight:bold ;
  color: #1e1e1e;
  cursor: pointer;
}
.ant-modal-title,.ant-form-item-label label{
  font-weight: bold;
}
.ant-modal-confirm-body .ant-modal-confirm-title{
  font-weight:bold;
}
.ant-dropdown{
top:50px !important;
}
.member .ant-form-item{
  margin-bottom: 8px;
}
.ant-form-explain ,.has-error{


  font-size:12px;

}
.ant-form-explain{
  padding-top:3px;
}
/*.ant-layout-content{*/
  /*display: flex;*/
/*}*/
